* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #220245;
}
html {
    scroll-behavior: smooth;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 16px;
    right: 32px;
    background-color: #e07b8d;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #c38590;
}


header nav ul {
  list-style-type: none;
  padding: 10px;
  text-align: center;
  color: white;
}

header nav li {
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5px;
}
header nav li:hover {
  background: #c38590;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
}

.dropdownlist {
  display: none;
  background: #c38590;
  padding: 10px;
  border-radius: 4px;
}

nav ul li:hover .dropdownlist {
  display: block;
  position: absolute;
  margin-top: 15px;
  margin-left: -15px;
}

nav ul li:hover .dropdownlist ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li:hover .dropdownlist ul li {
  display: block; /* Display dropdown items as block-level elements */
  padding: 10px;
  border-bottom: 1px solid #fff;
  border-radius: 3px;
}

nav ul li:hover .dropdownlist ul li:last-child {
  border-bottom: none;
}

.icons {
  background-color: rgb(13 12 19);
  color: #fff;
  text-align: center;
  margin: 20px auto 0 auto;
  padding: 5px 5px 0 5px;
}
.fa:hover {
  color: pink;
  transition: 0.4s;
}
.fa {
  margin: 5px 10px 12px;
  cursor: pointer;
  font-size: 25px !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
#column1,
#column2,
#column3,
#column4 {
  width: 25%;
}
img {
  width: 98%;
  padding: 0 1% 1% 1%;
}
footer {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 1px;
  height: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
